body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: pink;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  width: 100vw;
  height: 100vh;
  color: #228B22;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content >*{
  padding: 25px
}
input[type="password"]{
  width: 250px;
  border-radius: 25px;
  border: none;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #228B22;
}
input[type="text"]:focus{
  border: none;
}
